<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdutdb.carsales.mapper.CarMapper">

    <resultMap id="BaseResultMap" type="com.gdutdb.carsales.po.poja.Car">
        <id property="carVin" column="car_vin" jdbcType="INTEGER"/>
        <result property="carDistributorId" column="car_distributor_id" jdbcType="INTEGER"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        car_vin,car_distributor_id,car_model_id,enable
    </sql>



    <resultMap id="CarDetailMap" type="com.gdutdb.carsales.po.dto.CarDetail">
        <id property="carVin" column="car_vin" jdbcType="INTEGER"/>
        <result property="carDistributorId" column="car_distributor_id" jdbcType="INTEGER"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="BOOLEAN"/>

        <result property="distributor.distributorId" column="distributor_id" jdbcType="INTEGER"/>
        <result property="distributor.distributorName" column="distributor_name" jdbcType="INTEGER"/>

        <result property="modelDetail.modelBrandId" column="model_id" jdbcType="INTEGER"/>
        <result property="modelDetail.modelName" column="model_name" jdbcType="VARCHAR"/>

        <result property="modelDetail.brand.brandId" column="brand_id" jdbcType="INTEGER"/>
        <result property="modelDetail.brand.brandName" column="brand_name" jdbcType="VARCHAR"/>
    </resultMap>



    <insert id="insertOption">
        INSERT INTO car_option(car_vin, option_id) VALUES (#{carVin}, #{optionId})
    </insert>

    <delete id="deleteCarOption">
        DELETE
        FROM car_option
        WHERE car_vin = #{carVin}
    </delete>

    <select id="queryAllByEnable" resultMap="CarDetailMap">
        SELECT *
        FROM car
            LEFT JOIN model m on car_model_id = m.model_id
            LEFT JOIN distributor d on car.car_distributor_id = d.distributor_id
            LEFT JOIN brand b on m.model_brand_id = b.brand_id
        WHERE car.enable
    </select>

    <select id="queryByModelId" parameterType="integer" resultMap="CarDetailMap">
        SELECT *
        FROM car
            LEFT JOIN model m on car_model_id = m.model_id
            LEFT JOIN distributor d on car.car_distributor_id = d.distributor_id
            LEFT JOIN brand b on m.model_brand_id = b.brand_id
        WHERE car.enable AND car.car_model_id = #{modelId}
    </select>

    <select id="queryByDistributorId" parameterType="integer" resultMap="CarDetailMap">
        SELECT *
        FROM car
            LEFT JOIN model m on car_model_id = m.model_id
            LEFT JOIN distributor d on car.car_distributor_id = d.distributor_id
            LEFT JOIN brand b on m.model_brand_id = b.brand_id
        WHERE car.enable AND car.car_distributor_id = #{distributorId}
    </select>

    <select id="queryByDistributorIdAndBrandId" parameterType="integer" resultMap="CarDetailMap">
        SELECT *
        FROM car
                 LEFT JOIN model m on car_model_id = m.model_id
                 LEFT JOIN distributor d on car.car_distributor_id = d.distributor_id
                 LEFT JOIN brand b on m.model_brand_id = b.brand_id
        WHERE car.enable
          AND car.car_distributor_id = #{distributorId}
          AND car.car_model_id = #{modelId}
    </select>

    <select id="queryOptionOfCar" parameterType="integer" resultMap="com.gdutdb.carsales.mapper.OptionMapper.BaseResultMap">
        SELECT *
        FROM `car_option`
                 LEFT JOIN `option` o on o.option_id = car_option.option_id
        WHERE car_vin = #{carVin}
    </select>

    <update id="deleteByCarVin" parameterType="integer">
        UPDATE car
        SET car.enable = false
        WHERE car.car_vin = #{carVin}
    </update>
</mapper>
