<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdutdb.carsales.mapper.ModelMapper">

    <resultMap id="BaseResultMap" type="com.gdutdb.carsales.po.poja.Model">
            <id property="modelId" column="model_id" jdbcType="INTEGER"/>
            <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
            <result property="modelBrandId" column="model_brand_id" jdbcType="INTEGER"/>
            <result property="enable" column="enable" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="ModelDetailMap" type="com.gdutdb.carsales.po.dto.ModelDetail">
        <id property="modelId" column="model_id" jdbcType="INTEGER"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="modelBrandId" column="model_brand_id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="BOOLEAN"/>

        <result property="brand.brandName" column="brand_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        model_id,model_name,model_brand_id,
        enable
    </sql>

    <select id="queryAll" parameterType="integer" resultMap="ModelDetailMap">
        SELECT *
        FROM model
            LEFT JOIN brand
                ON brand.brand_id = model.model_brand_id
        WHERE model.enable
    </select>

    <select id="queryByModelId" parameterType="integer" resultMap="ModelDetailMap">
        SELECT *
        FROM model
            LEFT JOIN brand ON brand.brand_id = model.model_brand_id
        WHERE model.enable AND model.model_id = #{modelId}
    </select>

    <select id="queryOptionOfModel" parameterType="integer" resultMap="com.gdutdb.carsales.mapper.OptionMapper.BaseResultMap">
        SELECT *
        FROM `model_option`
            LEFT JOIN `option` o on o.option_id = model_option.option_id
        WHERE model_id = #{modelId}
    </select>

    <select id="queryByCarvVin" resultType="com.gdutdb.carsales.po.poja.Model">
        SELECT *
        FROM model
            LEFT JOIN car c on model.model_id = c.car_model_id
        WHERE car_vin = #{carVin}
    </select>


    <update id="deleteByModelId" parameterType="integer">
        UPDATE model
        SET model.enable = false
        WHERE model.model_id = #{modelId}
    </update>

    <update id="deleteOptionByModelId" parameterType="integer">
        DELETE
        FROM model_option
        WHERE model_option.model_id = #{modelId}
    </update>
</mapper>
