<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdutdb.carsales.mapper.StaffMapper">

    <resultMap id="BaseResultMap" type="com.gdutdb.carsales.po.poja.Staff">
            <id property="staffId" column="staff_id" jdbcType="INTEGER"/>
            <result property="staffName" column="staff_name" jdbcType="VARCHAR"/>
            <result property="staffPhone" column="staff_phone" jdbcType="VARCHAR"/>
            <result property="staffPassword" column="staff_password" jdbcType="VARCHAR"/>
            <result property="staffDistributorId" column="staff_distributor_id" jdbcType="INTEGER"/>
            <result property="enable" column="enable" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        staff_id,staff_name,staff_phone,
        staff_password,staff_distributor_id,enable
    </sql>
</mapper>
